<div *ngIf="isModule" class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="logo-img" style="text-align: center;width: 100%;">
                <img src="/assets/img/num.webp" style="width:8rem;"/>
                <h3 class="text-primary">{{ __('global.welcome_module') }} {{ routeModule.title }}</h3>
                <hr>
            </div>
        </div>

        <!--<div class="row">
            
            <div *ngFor="let sm of routesSousModule" routerLink="{{moduleSelected}}/{{sm.path}}" class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats bottom-border-card">
                    <div class="card-header card-header-warning card-header-icon">
                        <div style="display: flex;">
                            <i class="material-icons text-card " style="font-size: 25px;">{{ sm.icon }}</i>
                            <h3 class="text-card" style="font-weight: 600;font-size: 1.2rem;">{{ sm.title }}</h3>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>-->
    </div>
</div>

<router-outlet *ngIf="!isModule"></router-outlet>
