@import "../../../../../../assets/scss/core/variables/_colors.scss";

.content-solde{
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0px 0px 6px #acacac;
    width: 250px;
    margin: 10px;
    color: white;
    font-weight: 600;
}

#content-pm{
    background-color: $primary;
}

#content-epkt{
    background-color: $secondary;
}

::ng-deep .cdk-overlay-container,
::ng-deep .cdk-overlay-pane {
    z-index: 2000 !important;
    /* Assure-toi que c'est supérieur à celui du modal Bootstrap (généralement 1050) */
}

/****/
.wrapper {
    margin-bottom: 20px;
}
