<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-primary">
                        <div class="button-container">
                            <div class="left-buttons">
                               <!--  <button class="btn btn-secondary export-btn excel text-white">
                                    {{ __('global.export_excel') }} <img src="assets/img/icons8-export-excel-48.png" alt="Excel Icon">
                                </button>
                                <button class="btn btn-secondary export-btn pdf text-white">
                                    {{ __('global.export_pdf') }} <img src="assets/img/pdf.jpeg" alt="PDF Icon">
                                </button> -->
                            </div>
                            <div class="right-button">
                                <button class="btn btn-secondary" *ngIf="autority('PRM_38')" (click)="openModalAdd(addbureau)"> {{ __("bureau.add")}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <app-table
                                [endpoint]="endpoint"
                                [headerTable]="header"
                                [body]="objetBody"
                                [listIcon]="listIcon"
                                [searchGlobal]="searchGlobal">
                            </app-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<!-- MODAL -->
 <!-- Modal avec Material Design -->
 <ng-template #addbureau>
    <div class="modal-header btn-primary">
        <h5 class="modal-title" id="myModalLabel"><b> {{ titleModal }}</b></h5>
        <button type="button" class="close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #f="ngForm" [formGroup]="bureauForm" (ngSubmit)="onSubmit()">
            <div class="modal-body">

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>{{ __('bureau.code')}}</mat-label>
                                <input matInput type="text"  placeholder="{{ __('bureau.code')}}" formControlName="code" name="code">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>{{ __('bureau.name')}}</mat-label>
                                <input matInput type="text"  placeholder="{{ __('bureau.name')}}" formControlName="name" name="name">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>{{ __('bureau.responsable')}}</mat-label>
                                <input matInput type="text"  placeholder="{{ __('bureau.responsable')}}" formControlName="responsable" name="responsable">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>{{ __('bureau.adresse')}}</mat-label>
                                <input matInput type="text"  placeholder="{{ __('bureau.adresse')}}" formControlName="adresse" name="adresse">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="row">
                   
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>{{ __('bureau.email')}}</mat-label>
                                <input matInput type="email"  placeholder="{{ __('bureau.email')}}" formControlName="email" name="email">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>{{ __('bureau.email_dr')}}</mat-label>
                                <input matInput type="email"  placeholder="{{ __('bureau.email_dr')}}" formControlName="email_dr" name="email_dr">
                            </mat-form-field>
                        </div>
                    </div>
                    
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="dateFonction">{{ __('bureau.telephone')}}</label>
                            <input type="text"
                                name="phone_client" 
                                
                                placeholder="3X XX XXX XX"
                                autocomplete="off"
                                class="form-control form-icon-input"
                                oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 9);"
                                ng2TelInput
                                [ng2TelInputOptions]="{
                                    allowDropdown: true,
                                    autoHideDialCode: false,
                                    autoPlaceholder: 'on',
                                    formatOnDisplay: true,
                                    hiddenInput: 'full_number',
                                    initialCountry: currenCode,
                                    nationalMode: false,
                                    preferredCountries: ['mg', 'sn'],
                                    separateDialCode: true,
                                    utilsScript: '../../assets/js/tel-utils.js' 
                                }"
                                formControlName="tel" #phone
                                (hasError)="onError($event)"
                                (ng2TelOutput)="getNumber($event)"
                                (intlTelInputObject)="telInputObject($event)"
                                (countryChange)="onCountryChange($event)"
                            >
                        </div>
                    </div>


                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="dateFonction">{{ __('bureau.telephone_dr')}}</label>
                            <input type="text"
                                name="phone_dr" 
                                
                                placeholder="3X XX XXX XX"
                                autocomplete="off"
                                class="form-control form-icon-input"
                                oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 9);"
                                ng2TelInput
                                [ng2TelInputOptions]="{
                                    allowDropdown: true,
                                    autoHideDialCode: false,
                                    autoPlaceholder: 'on',
                                    formatOnDisplay: true,
                                    hiddenInput: 'full_number',
                                    initialCountry: currenCode,
                                    nationalMode: false,
                                    preferredCountries: ['mg', 'sn'],
                                    separateDialCode: true,
                                    utilsScript: '../../assets/js/tel-utils.js' 
                                }"
                                formControlName="telephone_dr" #phone_dr
                                (hasError)="onErrorDr($event)"
                                (ng2TelOutput)="getNumberDr($event)"
                                (intlTelInputObject)="telInputObjectDr($event)"
                                (countryChange)="onCountryChangeDr($event)"
                            >
                        </div>
                    </div>
                    
                   
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>{{ __('bureau.solde_max_rapatrie')}}</mat-label>
                                <input matInput type="text"  placeholder="{{ __('bureau.solde_max_rapatrie')}}" formControlName="solde_max_rapatrie" name="solde_max_rapatrie">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group"> 
                            <mat-form-field appearance="fill">
                                <mat-label>{{ __('bureau.type_bureau')}}</mat-label>
                                <mat-select name="idtype_agence"    formControlName="idtype_agence" >
                                  <!-- Champ de recherche -->
                                  <mat-option>
                                    <input matInput placeholder="Rechercher..." [formControl]="searchControl" (click)="$event.stopPropagation()" />
                                  </mat-option>
                              
                                  <!-- Affichage des options filtrées -->
                                  <mat-option *ngFor="let type of filteredTypeBureau" [value]="type.id"> {{ type.name }} </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                    </div>
                  
                </div>

                <div class="row">
                   

                    <div class="col-lg-6">
                        <div class="form-group"> 
                            <mat-form-field appearance="fill">
                                <mat-label>{{ __('bureau.province')}}</mat-label>
                                <mat-select name="province"   (selectionChange)="recupererDepartement($event)"  formControlName="province" >
                                  <!-- Champ de recherche -->
                                  <mat-option>
                                    <input matInput placeholder="Rechercher..." [formControl]="searchControl" (click)="$event.stopPropagation()" />
                                  </mat-option>
                              
                                  <!-- Affichage des options filtrées -->
                                  <mat-option *ngFor="let province of filteredProvinces" [value]="province.id"> {{ province.lib_region }} </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group"> 
                            <mat-form-field appearance="fill">
                                <mat-label>{{ __('bureau.departement')}}</mat-label>
                                <mat-select name="fk_quartier"    formControlName="fk_quartier" >
                                  <!-- Champ de recherche -->
                                  <mat-option>
                                    <input matInput placeholder="Rechercher..." [formControl]="searchControl" (click)="$event.stopPropagation()" />
                                  </mat-option>
                              
                                  <!-- Affichage des options filtrées -->
                                  <mat-option *ngFor="let depart of filteredDepartement" [value]="depart.id"> {{ depart.name }} </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                    </div>
                  
                </div>
                
                
               
                

               


              

                
                
                  

                
                
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeModal()">{{ __('global.cancel')}}</button>
                <button type="submit" class="btn btn-primary" *ngIf="!bureau.id" [disabled]="bureauForm.invalid">{{ __('global.save')}}</button>
                <button type="submit" class="btn btn-primary" *ngIf="bureau.id" [disabled]="bureauForm.invalid">{{ __('global.edit')}}</button>
            </div>
        </form>
    </div>
</ng-template>


<!-- MODAL -->
 <!-- Modal avec Material Design -->
 <ng-template #detailBureau>
    <div class="modal-header btn-primary">
        <h5 class="modal-title" id="myModalLabel"><b> {{ titleModal }}</b></h5>
        <button type="button" class="close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">


        <table style="width: 100%;">
            <tr>
                <td  class="text-right pr-3 bold">{{ __("bureau.code")}} : </td>
                <td  class="text-left">{{  bureau.code }}</td>
                <td  class="text-right pr-3">{{ __("bureau.name")}}  : </td>
                <td  class="text-left">{{  bureau.name }}</td>
            </tr>
            <tr>
                <td  class="text-right pr-3 bold">{{ __("bureau.type_bureau")}} : </td>
                <td  class="text-left">{{  bureau.type_agence }}</td>
                <td  class="text-right pr-3 bold">{{ __("bureau.responsable")}}  : </td>
                <td  class="text-left">{{  bureau.responsable }}</td>
            </tr>
            <tr>
                <td  class="text-right pr-3 bold">{{ __("bureau.email")}} : </td>
                <td  class="text-left">{{  bureau.email }}</td>
                <td  class="text-right pr-3 bold">{{ __("bureau.email_dr")}}  : </td>
                <td  class="text-left">{{  bureau.email_dr }}</td>
            </tr>
            <tr>
                <td  class="text-right pr-3 bold">{{ __("bureau.telephone")}} : </td>
                <td  class="text-left">{{  bureau.tel }}</td>
                <td  class="text-right pr-3 bold">{{ __("bureau.telephone_dr")}}  : </td>
                <td  class="text-left">{{  bureau.telephone_dr }}</td>
            </tr>
            <tr>

                <td  class="text-right pr-3">{{ __("bureau.adresse")}}  : </td>
                <td  class="text-left">{{  bureau.adresse }}</td>
                <td  class="text-right pr-3">{{ __("bureau.province")}} : </td>
                <td  class="text-left">{{  bureau.province }}</td>
            </tr>
            <tr>
                <td  class="text-right pr-3">{{ __("bureau.solde")}} : </td>
                <td  class="text-left">{{  bureau.solde }}</td>
                <td  class="text-right pr-3">{{ __("bureau.solde_carte")}}  : </td>
                <td  class="text-left">{{  bureau.solde_carte }}</td>
            </tr>
        </table>
       
    </div>
</ng-template>

