@import "../../../../../assets/scss/core/variables/_colors.scss";

::ng-deep .cdk-overlay-container,
::ng-deep .cdk-overlay-pane {
    z-index: 2000 !important;
    /* Assure-toi que c'est supérieur à celui du modal Bootstrap (généralement 1050) */
}
/****/
.wrapper {
    margin-bottom: 20px;
}

.alert-custom {
    background: #f2f2f2;
    padding: 5px 15px;
}

.info-virement {
    font-weight: 800;
    color: $primary;
}