<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-primary">
                        <div class="button-container">
                            <div class="left-buttons">
                                <button class="btn btn-secondary export-btn excel text-white">
                                    {{ __('global.export_excel') }} <img src="assets/img/icons8-export-excel-48.png" alt="Excel Icon">
                                </button>
                                <button class="btn btn-secondary export-btn pdf text-white">
                                    {{ __('global.export_pdf') }} <img src="assets/img/pdf.jpeg" alt="PDF Icon">
                                </button>
                            </div>
                            <div class="right-button">
                                
                                <button class="btn btn-secondary" data-toggle="modal" data-target="#myModal"> {{ __("module.add")}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
               <!--  <h3>
                    <a class="nav-link">
                        <i class="material-icons" style="font-size: 40px;">settings</i> &nbsp;<span class="sidebar-normal title-page" >{{ __('module.title')}}</span>
                    </a>
                </h3> -->
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <app-table
                                [endpoint]="endpoint"
                                [headerTable]="header"
                                [body]="objetBody"
                                [listIcon]="listIcon"
                                [searchGlobal]="searchGlobal">
                            </app-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<!-- MODAL -->
 <!-- Modal avec Material Design -->
 <div #myModal class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel"><b> {{ __('module.title_add_modal')}}</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #f="ngForm" [formGroup]="moduleForm" (ngSubmit)="onSubmit()">
                    <div class="modal-body">
                     
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>{{ __('module.name')}}</mat-label>
                                <input matInput type="text" [(ngModel)]="module.name" placeholder="{{ __('module.name')}}" formControlName="name" name="name">
                            </mat-form-field>
                        </div>
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>{{ __('module.code')}}</mat-label>
                                <input matInput type="text" [(ngModel)]="module.code" placeholder="{{ __('module.code')}}" formControlName="code" name="code">
                            </mat-form-field>
                        </div>
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>{{ __('module.icon')}}</mat-label>
                                <input matInput type="text" [(ngModel)]="module.icon" placeholder="{{ __('module.icon')}}" formControlName="icon" name="icon">
                            </mat-form-field>
                        </div>
                        
                      
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="closeModal()">{{ __('global.cancel')}}</button>
                        <button type="submit" class="btn btn-primary" [disabled]="moduleForm.invalid">{{ __('global.save')}}</button>
                    </div>
                </form>
            </div>
            <!--<div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary" (click)="onConfirm()">Confirmer</button>
            </div>-->
        </div>
    </div>
</div>
