<div class="main-content">

    <div class="container mt-4">
        <div class="title-page-profil">
            <h5 class="text-primary"><b>Profil</b></h5>
        </div>
        

        <div class="row mt-3 g-3">
            <!-- Photo de profil -->
            <div class="col-md-4 d-flex">
                <div class="card shadow-sm w-100 h-100">
                    <div class="card-body text-center">
                        <i class="material-icons text-primary " style="font-size: 18rem;">account_circle</i>
                        <p><a href="#" class="btn btn-sm btn-outline-primary">{{ __('profil.modifier_photo_profil') }}</a></p>
                    </div>
                </div>
            </div>

            <!-- Informations utilisateur -->
            <div class="col-md-4 d-flex">
                <div class="card shadow-sm w-100 h-100">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Information profil utilisateur</h5>
                        <p><strong>{{ __('utilisateur.nom') }} :</strong> {{ user.info.nom }} </p>
                        <p><strong>{{ __('utilisateur.prenom') }} :</strong> {{ user.info.prenom }} </p>
                        <p><strong>{{ __('utilisateur.email') }} :</strong>  {{ user.info.email }} </p>
                        <p><strong>{{ __('utilisateur.telephone') }} :</strong> {{ user.info.telephone }}</p>
                        <p><strong>{{ __('utilisateur.adresse') }} :</strong> {{ user.info.email }}</p>
                        <p><strong>{{ __('utilisateur.profil') }} :</strong> {{ user.info.name }} </p>
                    </div>
                </div>
            </div>

            <!-- Modification du mot de passe -->
            <div class="col-md-4 d-flex">
                <div class="card shadow-sm w-100 h-100">
                    <div class="card-body">
                        <h5 class="card-title text-primary">{{ __('profil.modification_mdp') }}</h5>
                        <form>
                            <div class="mb-3">
                                <mat-form-field class="example-full-width">
                                    <input matInput [(ngModel)]="oldPassword" placeholder="Votre ancien mot de passe" [type]="showOldPassword ? 'text' : 'password'">
                                    <mat-icon matSuffix>
                                        <i *ngIf="showOldPassword"  class="material-icons" style="cursor: pointer;" (click)="showOldPassword = !showOldPassword">visibility</i>
                                        <i *ngIf="!showOldPassword" class="material-icons" style="cursor: pointer;" (click)="showOldPassword = !showOldPassword">visibility_off</i>
                                    </mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="mb-3"> 
                                <mat-form-field class="example-full-width">
                                    <input matInput [(ngModel)]="newPassword" placeholder="Votre nouveau mot de passe" [type]="showNewPassword ? 'text' : 'password'">
                                    <mat-icon matSuffix>
                                        <i *ngIf="showNewPassword"  class="material-icons" style="cursor: pointer;" (click)="showNewPassword = !showNewPassword">visibility</i>
                                        <i *ngIf="!showNewPassword" class="material-icons" style="cursor: pointer;" (click)="showNewPassword = !showNewPassword">visibility_off</i>
                                    </mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="mb-3">
                                <mat-form-field class="example-full-width">
                                    <input matInput [(ngModel)]="confirmNewPassword" placeholder="Confirmer votre nouveau mot de passe" [type]="showConfirmPassword ? 'text' : 'password'">
                                    <mat-icon matSuffix>
                                        <i *ngIf="showConfirmPassword"  class="material-icons" style="cursor: pointer;" (click)="showConfirmPassword = !showConfirmPassword">visibility</i>
                                        <i *ngIf="!showConfirmPassword" class="material-icons" style="cursor: pointer;" (click)="showConfirmPassword = !showConfirmPassword">visibility_off</i>
                                    </mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="justify-content-between">
                                <button mat-raised-button type="submit" class="btn btn-primary w-100" (click)="onResetPassword()">{{ __('global.change_mdp') }}</button>
                                <button mat-raised-button type="reset" class="btn btn-secondary w-100"  data-dismiss="modal">{{ __('global.back') }}</button> 
                           
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
