<div id="right-back-sidebar" class="bars-icon-sidebar">
    <a href="javascript:void(0)" style="color: white;" (click)="toggleSidebar()"><i class="material-icons">dehaze</i>
        <p>
            <span class="d-lg-none d-md-block"></span>
        </p>
    </a>
</div>
<div class="logo">
    <a href="#" routerLink="home"  class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/num.webp"/>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;Numherit
    </a>
</div>
<div class="sidebar-wrapper">
    <div class="user">
        <ul class="nav" style="margin-top: 0px;">
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#collapseExample"  aria-expanded="true" style="color: white;">
                    <i class="material-icons">person</i>
                    <p style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">{{ this.user.info.nom }} {{ this.user.info.prenom }} <b class="caret"></b></p>
                    <span style="font-size: 10px;">{{ this.user.info.name }}</span>
                </a>
            </li>
        </ul>
        <div id="collapseExample" [class]="userMenuUserActive ? 'collapse show' : 'collapse'">
            <ul class="nav">
                <li [class]="currentRoute == '/my-profil' ? 'nav-item active' : 'nav-item'">
                    <a routerLink="/my-profil" class="nav-link text-white">
                        <i class="material-icons">person</i><span class="sidebar-normal">Mon profile</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0)" (click)="goToLogin()" class="nav-link text-white">
                        <i class="material-icons">logout</i><span class="sidebar-normal">Déconnexion</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    
    <div  *ngFor="let menuItem of routes; let i = index">
        <ul class="nav" style="margin-top: 0px;">
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" [href]="'#collapse' + i"  aria-expanded="true" style="color: white;">
                    <i class="material-icons">{{menuItem.icon}}</i>
                    <p style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;font-size:12px">{{menuItem.title }}<b class="caret"></b></p>
                </a>
            </li>
        </ul>
        <!--[class]="userMenuUserActive ? 'collapse show' : 'collapse'"-->
        <div *ngIf="menuItem.children.length" [class]="currentRoute == menuItem.path ? 'collapse show' : 'collapse'" [id]="'collapse' + i" >
            <!--[class]="currentRoute == '/my-profil' ? 'nav-item active' : 'nav-item'"-->
            <ul class="nav">
                <li *ngFor="let child of menuItem.children" [class]="currentRoute == menuItem.path + child.path ? 'nav-item active' : 'nav-item'">
                    <!-- (click)="goToPage(menuItem.path + child.path,menuItem.path)"-->
                    <a routerLink="{{menuItem.path}}{{child.path}}" class="nav-link text-white"  >
                        <i class="material-icons">chevron_right</i><span class="sidebar-normal" style="font-size:12px">{{child.title}}</span>
                    </a>
                </li>
            </ul>
        </div>

    </div>
    

    
</div>
