.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    /* Optionnel, pour délimiter la zone */
}

.left-buttons {
    display: flex;
    gap: 10px;
    /* Espace entre les boutons */
}

.export-btn {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border: 1px solid #ccc;
    background: white;
    cursor: pointer;
}

.export-btn img {
    width: 16px;
    height: 16px;
    margin-left: 5px;
}

.excel {
    border-color: #0b7238;
    background-color: #0b7238;
    font-weight: bold;
}

.pdf {
    border-color: #b41d01;
    background-color: #b41d01;
    font-weight: bold;
}

.right-button {
    display: flex;
}

::ng-deep .cdk-overlay-container,
::ng-deep .cdk-overlay-pane {
    z-index: 2000 !important;
    /* Assure-toi que c'est supérieur à celui du modal Bootstrap (généralement 1050) */
}

/****/
.wrapper {
    margin-bottom: 20px;
}

/*****************************************************
	Custom styling example bellow.
*****************************************************/



.iti .dropdown-menu.country-dropdown {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-color: #c7cace;
    margin-top: -1px;
}

.iti {
    width: 100%;
}

.iti__country-list {
    z-index: 10000 !important;
    /* 👈 S'assurer que la liste des pays apparaît au-dessus des autres éléments */
    position: absolute !important;
}

/*.iti .iti__country-list {
    box-shadow: none;
    font-size: 14px;
    margin-left: 0;
    width: 244px;
    max-height: 170px;
}

.iti__flag-container.open+input {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.iti .search-container input {
    font-size: 14px;
    border-color: #c7cace;
    border-radius: 0;
    padding: 5px 10px;
}

.iti .search-container input:focus {
    outline: none;
}

@media screen and (max-width: 479px) {
    .iti .iti__country-list {
        width: 88.3vw;
    }
}

ngx-intl-tel-input input {
    height: 44px;
    margin-bottom: 20px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #c7cace;
    border-radius: 4px;
    font-size: 18px;
}

ngx-intl-tel-input.ng-invalid.ng-touched input {
    border: 1px solid #c0392b;
}

ngx-intl-tel-input input:hover {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.24);
}

ngx-intl-tel-input input:focus {
    outline: none !important;
    border-color: #3498db;
    box-shadow: 0 0 0 0 #000;
}

ngx-intl-tel-input input::-webkit-input-placeholder {
    color: #bac2c7;
}

ngx-intl-tel-input input:-ms-input-placeholder {
    color: #bac2c7;
}

ngx-intl-tel-input input::-ms-input-placeholder {
    color: #bac2c7;
}

ngx-intl-tel-input input::placeholder {
    color: #bac2c7;
}

ngx-intl-tel-input input[disabled] {
    background-color: #e5eaf1;
}

.mat-form-field .ngx-mat-tel-input-container {
    visibility: visible !important;
    opacity: 1 !important;
}*/