<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-primary">
                        <div class="button-container">
                            <div class="left-buttons">
                                <button class="btn btn-secondary export-btn excel text-white">
                                    {{ __('global.export_excel') }} <img src="assets/img/icons8-export-excel-48.png" alt="Excel Icon">
                                </button>
                                <button class="btn btn-secondary export-btn pdf text-white">
                                    {{ __('global.export_pdf') }} <img src="assets/img/pdf.jpeg" alt="PDF Icon">
                                </button>
                            </div>
                            <div class="right-button">
                                
                                <button class="btn btn-secondary" data-toggle="modal" data-target="#myModal">+ Ajouter un ministère</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <app-table
                                [endpoint]="endpoint"
                                [headerTable]="header"
                                [body]="objetBody"
                                [listIcon]="listIcon"
                                [searchGlobal]="searchGlobal">
                            </app-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL -->
 <!-- Modal avec Material Design -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel"><b>Ajout ministère</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #f="ngForm" [formGroup]="userForm" (ngSubmit)="onSubmit()">
                    <div class="modal-body">
                     
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Nom</mat-label>
                                <input matInput type="text" placeholder="Ex: John" formControlName="name" name="name">
                            </mat-form-field>
                        </div>
                        
                      
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Email</mat-label>
                                <input matInput type="text" placeholder="Ex: John" formControlName="email" name="email">
                            </mat-form-field>
                        </div>
                        

                        <div class="form-group">
                            <label for="ministere">Ministère</label>
                            <mat-form-field appearance="fill">
                                <mat-label>Ministère</mat-label>
                                <input type="text" [formControl]="selectSearch" matInput [matAutocomplete]="auto" [(ngModel)]="selectedValue" (ngModelChange)="filterOptions()">
                                <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngFor="let option of filteredOptions" [value]="option">
                                    {{ option }}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        
                        <div class="form-group">
                            <label for="dateFonction">Contact</label>
                            <input type="text"
                                name="phone_client" 
                                [(ngModel)]="telephone" 
                                placeholder="3X XX XXX XX"
                                autocomplete="off"
                                class="form-control form-icon-input"
                                oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                                ng2TelInput
                                [ng2TelInputOptions]="{
                                    allowDropdown: true,
                                    autoHideDialCode: false,
                                    autoPlaceholder: 'on',
                                    formatOnDisplay: true,
                                    hiddenInput: 'full_number',
                                    initialCountry: currenCode,
                                    nationalMode: false,
                                    preferredCountries: ['mg', 'sn'],
                                    separateDialCode: true,
                                    utilsScript: '../../assets/js/tel-utils.js' 
                                }"
                                formControlName="phone" #phone
                                (hasError)="onError($event)"
                                (ng2TelOutput)="getNumber($event)"
                                (intlTelInputObject)="telInputObject($event)"
                                (countryChange)="onCountryChange($event)"
                            >
                        </div>

                        <div class="form-group">
                            <label for="dateFonction">Date du fonction</label>
                            <mat-form-field appearance="fill" style="width: 100%;">
                                <input matInput [matDatepicker]="picker" placeholder="Choisir une date" formControlName="dateFonction" (focus)="picker.open()">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Enregistrer</button>
                    </div>
                </form>
            </div>
            <!--<div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary" (click)="onConfirm()">Confirmer</button>
            </div>-->
        </div>
    </div>
</div>
