table > thead > tr{
    background-color: #314e82 !important;
    color: white !important;
  }
  
  table > thead > tr > th > span{
    font-weight: bold !important;
    font-size: 15px !important;
  }
  
  .bold-td {
    font-size: 14px;
    font-weight: 800;
  }