
.form-label {
    font-weight: 500;
    color: rgb(25, 25, 25);
}

.form-control:focus {
    box-shadow: none;
    border-color: #86b7fe;
}

.btn-orange {
    background-color: #f7941d;
    color: white;
}

.btn-green {
    background-color: #28a745;
    color: white;
}

.info-label {
    font-weight: bold;
}


.form-control:focus {
    box-shadow: none;
    border-color: #86b7fe;
}
